/prkng-project/libraries/Android-Rate/library/src/main/res/values-cs/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-de/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-es/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-fa/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-it/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-iw/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-ja/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-ko/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-pl/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-pt/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-ru/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-tr/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-uk/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-vi/strings.xml
/prkng-project/libraries/Android-Rate/library/src/main/res/values-zh/strings.xml
/prkng-project/libraries/Android-Rate/.travis.yml
/prkng-project/libraries/Android-Rate/gradlew
/prkng-project/libraries/Android-Rate/gradlew.bat
/prkng-project/libraries/Android-Rate/sample/.gitignore
/prkng-project/libraries/Android-Rate/sample/build.gradle
/prkng-project/libraries/Android-Rate/sample/src/main/AndroidManifest.xml
/prkng-project/libraries/Android-Rate/sample/src/main/java/hotchemi/android/rate/sample/MainActivity.java
/prkng-project/libraries/Android-Rate/sample/src/main/res/drawable-hdpi/ic_launcher.png
/prkng-project/libraries/Android-Rate/sample/src/main/res/drawable-mdpi/ic_launcher.png
/prkng-project/libraries/Android-Rate/sample/src/main/res/drawable-xhdpi/ic_launcher.png
/prkng-project/libraries/Android-Rate/sample/src/main/res/drawable-xxhdpi/ic_launcher.png
/prkng-project/libraries/Android-Rate/sample/src/main/res/layout/activity_main.xml
/prkng-project/libraries/Android-Rate/sample/src/main/res/values-w820dp/dimens.xml
/prkng-project/libraries/Android-Rate/sample/src/main/res/values/dimens.xml
/prkng-project/libraries/Android-Rate/sample/src/main/res/values/strings.xml
